{% extends 'base.html' %}
{% block title %} Create new profile {% endblock%}
{% block content %}
{%if user.is_authenticated%}
    <h1>Create new profile...</h1>
    <br/><br/>
    <div class= "form-group">
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary">Create new profile</button>
        </form>
    </div>
{%else%}
    Is not access
{%endif%}
{% endblock %}