{% extends 'base.html' %}
{% block title %} Edit profile {% endblock%}
{% block content %}

<h1>Edit profile</h1>
<br/><br/>

{{ user.profile.bio }}
<div class= "form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Updated</button>
    </form>
</div>

{% endblock %}