{% extends 'base.html' %}
{% block title %} Edit user page {% endblock%}
{% block content %}
{%if user.is_authenticated%}
    {% if user.id == profile.user.id %}
        <h1>Edit user page...</h1>
        <br/><br/>
        <div class= "form-group">
            <form method="POST", enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Edit user</button>
            </form>
        </div>
    {%else%}
        You are not the correct User
    {%endif%}
{%else%}
    Is not access
{%endif%}
{% endblock %}