{% extends 'base.html' %}
{% block title %} Login {% endblock%}
{% block content %}

<h1>Login</h1>
<br/><br/>
<div class= "form-group">
    <form method="POST">
        {% csrf_token %}
        <form>
        <div class="mb-3">
            <input type="text" class="form-control" name="username" PLACEHOLDER="username">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password", PLACEHOLDER="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </form>
</div>

<br/>
<a class="btn btn-info" href="{% url 'register' %}">Sign Up</a>

{% endblock %}