{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>User profile</h1>

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if user_list.profile_picture %}
                <img src="{{user_list.profile_picture.url}}" class="card-img">
            {%else%}
                <img src="{% static 'blog/images/dts3.jpeg' %}" class="card-img">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{user_list.user.first_name}}  {{user_list.user.last_name}}</h5>
                <p class="small text-muted">
                {%if user_list.gitlab_url%}
                    <a href="{{user_list.gitlab_url}}">Gitlab</a> |
                {%endif%}
                {%if user_list.linkedin_url%}
                    <a href="{{user_list.linkedin_url}}">Linkedin</a> |
                {%endif%}
                {%if user_list.insta%}
                    <a href="{{user_list.profile.insta}}">Instagram</a> |
                {%endif%}
                {%if user_list.facebook%}
                    <a href="{{user_list.facebook}}">Facebook</a> |
                {%endif%}</p>
                <p class="card-text">{{user_list.bio}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}