{% extends 'base.html' %}
{% block title %} New post {% endblock%}
{% block content %}
{%if user.is_authenticated%}
    <h1>Add post or edit post:</h1>
    <br/><br/>
    <div class= "form-group">
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
        <button class="btn btn-primary">Add</button>
        </form>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("elder").value = name;
    </script>
{%else%}
    Is not access
{%endif%}
{% endblock %}