{% extends 'base.html' %}
{% block title %} New Comments {% endblock%}
{% block content %}

<h1>Add comment or delete comment:</h1>
<br/><br/>
<div class= "form-group">
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary">Add</button>
  </form>
</div>
{% endblock %}