{% extends 'base.html' %}
{% block title %} New category {% endblock%}
{% block content %}
{%if user.is_authenticated%}
    <h1>New category...</h1>
    <br/><br/>
    <div class= "form-group">
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Add New category</button>
        </form>
    </div>
{%else%}
    Is not access
{%endif%}
{% endblock %}