{% extends 'base.html' %}
{% block content %}

<h1>Category name: {{ list }}</h1>
        <br/>
{%for post in category_list%}
        Post name: <strong><a href="{% url 'detail' post.pk %}">{{post.title}}<a/></strong>  -> Creating by : {{post.author.first_name}} {{post.author.last_name}}
        <br/><br/>
        {{post.text}}
{%endfor%}
{% endblock %}