{% extends 'base.html' %}
{% block title %} Delete post {% endblock%}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id%}
        <h1>Delete post...</h1>
        <h3>Delete post : {{post.title}}</h3>
        <br/><br/>
        <div class= "form-group">
            <form method="POST">
                {% csrf_token %}
            <strong>Are you sure?</strong>
            <br/>
            <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    {%else%}
        {{Page is not found}}
    {% endif %}
{%else%}
    {{Is not access}}
{%endit%}
{% endblock %}