{% extends 'base.html' %}
{% block title %} Edit post {% endblock%}
{% block content %}
{% if user.is_authenticated %}
        {% if user.id == post.author.id%}
            <h1>Edit post...</h1>
            <br/><br/>
            <div class= "form-group">
                <form method="POST">
                {% csrf_token %}
                { form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary">Edit</button>
                </form>
            </div>
        {%else%}
            {{Page is not found}}
        {% endif %}
{%else%}
    {{Is not access}}
{% endif %}
{% endblock %}