{% extends 'base.html' %}
{% block content %}

<h1>Post</h1>
    <ul>
        {% for post in object_list %}
        <li> Post name: <a href="{% url 'detail' post.pk %}">{{post.title}}<a/>, Category name: <a href="{%url 'category' post.category %}">{{post.category}}</a>, Creating by: {{post.author.first_name}} {{post.author.last_name}}
        <br/><br/>
        </li>
        {% endfor %}
    </ul>
{% endblock %}



