{% extends 'base.html' %}
{% load static %}
{% block title %}
{{post.title_tag}}
{% endblock%}
{% block content %}
<h1>{{post.title}}</h1>
<small>By: {{post.author.first_name}}
    {{post.author.last_name}}
        - Time : {{post.date}}</small><br/>
<hr>
<br/>
<br/>
{{post.body|safe}}
<br/>
<br/>
{% if post.header_image %}
    <img src="{{ post.header_image.url }}">
{% endif %}
<br/>
<br/>
{% if user.is_authenticated %}
    {% if user.id == post.author.id%}
        <a href="{% url 'home' %}" class="btn btn-secondary">Back<a/>
        <a href="{% url 'edit_post' post.pk %}" class="btn btn-info">Edit<a/>
        <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger">Delete<a/>
    {% endif %}
{% endif %}
<br/>
<br/>
    <form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-danger"> Dislike </button>
        {% else %}
            <button type="submit" name="post_id", value="{{ post.id }}" class="btn btn-success"> like </button>
        {%endif%}
        :{{total_likes}} Likes
    {%else%}
        Must be logged for making like...
    </form>
<br/>
<br/>
        <a class="btn btn-info" href="{% url 'login' %}">Login</a>
    {%endif%}
<br/>
<br/>
<h4> Comments: </h4>
    {% if not post.comments.all %}
        No comments yet...<br/><br/>
    {%else%}
        {%for comment in post.comments.all %}
            <strong>By {{comment.user.first_name}} : {{comment.created_date}}  </strong> <br/><br/>
            {{comment.text}} <br/><br/>
            {% if request.user == comment.user %}
                <a href="{% url 'delete_comment' post_pk=post.pk comment_pk=comment.pk %}" class="btn btn-danger">Delete<a/>
                <a href="{% url 'edit_comment' post_pk=post.pk comment_pk=comment.pk %}" class="btn btn-info">Edit<a/>
                <hr class="divider">
            {%endif%}
                <br/>
        {%endfor%}
    {%endif%}
<br/>
<br/>
<a href="{% url 'add_comment' post_pk=post.pk %}" style="background-color: gray "><span class="btn btn-secondary">Add comment</span></a>
<br/>
<br/>
<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.author.profile.profile_picture %}
                <img src="{{post.author.profile.profile_picture.url}}" class="card-img">
            {%else%}
                <img src="{% static 'blog/images/1.JPG' %}" class="card-img">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{post.author.first_name}}  {{post.author.last_name}}</h5>
                <p class="small text-muted">
                <a href="{% url 'user_profile' post.author.profile.id %}">Profile page </a> |
                {%if post.author.profile.gitlab_url%}
                    <a href="{{post.author.profile.gitlab_url}}">Gitlab</a> |
                {%endif%}
                {%if post.author.profile.linkedin_url%}
                    <a href="{{post.author.profile.linkedin_url}}">Linkedin</a> |
                {%endif%}

                {%if post.author.profile.insta%}
                    <a href="{{post.author.profile.insta}}">Instagram</a> |
                {%endif%}
                {%if post.author.profile.facebook%}
                    <a href="{{post.author.profile.facebook}}">Facebook</a> |
                {%endif%}
                </p>
                <p class="card-text">{{post.author.profile.bio}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}